# Ambiente virtual
venv/
.venv/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Configurações e variáveis de ambiente
.env
.env.*

# Cache e arquivos do pytest
.pytest_cache/
.coverage
htmlcov/

# Configurações de editores e IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.log
*.tmp